.bus {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid red;
}

.bus h3 {
    width: 50px;
    margin: 20px;
}

.hour {
    width: 150px;
}

.remaining {
    width: 90px;
}